.home-page {
  background-color: #F4F4F4;
  min-height: 100vh;

  .main-content {
    flex: 1;
    max-width: 1200px;
  }

  .job-filters {
    border-bottom: 1px solid rgba(211, 211, 211, 0.5);

    .filter-btn {
      border: 1px solid var(--grey);
      border-radius: 5px;
    }
  }

  
// Job Listing Styles
  .job-list-container {
    max-height: 560px;
    overflow-y: auto;
    max-width: 1080px;
  }

  // Hide scrollbar for Webkit (Chrome, Safari) 
  .job-list-container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  // Hide scrollbar for Firefox
  .job-list-container {
    scrollbar-width: none;
  }

  .card-container {
     display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}