// User Profile Styles
.profile-section {
  background: #f0f0f0;
  border-radius: 10px;
  background: #fff;

  .profile-cover {
    background: url('../../assets/images/profile-cover.png') no-repeat center;
    background-size: cover;
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .profile-avatar {
    height: 86px;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 38%;
    top: 50%
  }

  .profile-info {
    margin-top: 40px;
  }
}


// Calendar Section Styles
.calendar-section {
  background: #fff;
  border-radius: 12px;
  transition: all 0.3s ease;

  .interview-card {
    background: #FBFBFB;
    border-radius: 8px;

    .interview-info {
      flex-grow: 1;
    }

    .interview-actions {
      gap: 8px;

      button {
        border-radius: 5px;
        padding: 5px 10px;
      }

      .accept-btn {
        background: #95FFD6;
        color: #38b585;
      }

      .deny-btn {
        background: #F7FAFF;
        color: #838A9E;
      }
    }
  }
}


// Page Header Styles
.page-header {
  background-color: white;
  border-radius: 8px;
  max-width: 1080px;
}

.search-container {
  border-radius: 8px;

  .search-input,
  .search-dropdown,
  .search-button {
    height: 37px;
  }
}

.search-input {
  flex: 2;
}

.c-brd {
  border-radius: 0px;
  border-top: none;
  border-bottom: none;
  border-right: 2px solid #E9ECEF;
  border-left: 2px solid #E9ECEF;
}

svg.p-icon.p-dropdown-trigger-icon.p-clickable {
  height: 12px;
}

.p-dropdown .p-dropdown-label.p-placeholder {
  font-size: 16px;
}

.search-button {
  background-color: #0057b7;
  width: 140px;
  color: white;
  border-radius: 5px;
}


// Job Card Styles
.job-card {
  height: 170px;
  width: 190px;
}

.p-card-body,
.p-card-content {
  padding: 0 !important;
}

.p-avatar img {
  height: 45px;
  width: 45px;
  background: #FAFAFA;
  border-radius: 10px;
  margin-left: 8px;
}

.job-svg {
  height: 14px;
  width: 20px;
}

.apply-button {
  width: 120px;
  height: 35px;
  background: var(--primary-blue);
}

.save-button {
  color: #AAA;
}