// Header Styles
.custom-header {
    padding: 10px 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.menu-item {
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-color: transparent !important;
        color: var(--primary-blue) !important;
    }

    &.active {
        color: var(--primary-blue) !important;
        font-weight: 500 !important;
    }
}

.p-icon {
    color: var(--grey);
}

.p-button-outlined {
    border: 2px solid var(--primary-blue);
    color: var(--primary-blue);
    border-radius: 8px;
    transition: all 0.3s ease;

    &:hover {
        background: var(--primary-blue);
        color: white;
    }
}

.search-bar {
    background: #F6F9FF;
    border-radius: 8px;
    padding: 5px 10px;
    height: 39px;
    width: 261px;
}

.resume-button {
    border: 2px solid var(--primary-blue);
    border-radius: 8px;
    color: white;
    background: var(--primary-blue);
    height: 39px;
    width: 150px;

    &:hover {
        background: #014083;
        border: 2px solid #014083;
    }

    &:focus {
        box-shadow: none;
    }
}

.avatar {
    width: 35px;
    height: 35px;
    border: 2px solid #ddd;
}


// Sidebar Styles
.sidebar {
    width: 100%;
    max-width: 370px;
    min-width: 260px;

    .stats-section {
        background: white;
        border-radius: 10px;

        .stat-item {
            padding: 10px 0;
            border-bottom: 1px solid #ddd;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}